body {
    background: #444;
    box-sizing: border-box;
    text-align: center;
}

h3 {
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}

#videoList {
    margin: auto;
    padding: 40px 0 0;
    width: 1216px;
}

#videoList .video {
    border: 4px solid #fff;
    box-shadow: 0 0 14px #000;
    float: left;
    height: 315px;
    margin: 20px;
    width: 560px;
}

#videoList .video iframe {
    border: none;
    height: 315px;
    width: 560px;
}